.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #667eea, #764ba2);  */
    /* background: linear-gradient(135deg, #1e293b, #334155, #475569); */
    /* background: linear-gradient(135deg, #0f172a, #1e3a8a, #0f766e); */
    }

.login-card {
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-card h1 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.6;
    transition: background-color 1s ease, color 1s ease;
}

.login-card p {
    color: #666;
    line-height: 1.4;
    transition: background-color 1s ease, color 1s ease;
}

.login-card input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: background-color 1s ease, color 1s ease;
}

/* .login-card button[type="button"] { */
.login-card .button {
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* .login-card button[type="button"]:hover { */
.login-card .button:hover {
    background: none;
}

.login-card button[type="submit"] {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background: #5563c1;
}

.login-card .reset-link {
    border: none;
}

.login-card .status {
    font-size:1rem;
    color: red;
}

.login-card .reset-link {
    background: none;
    color: #667eea; 
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.login-card .reset-link:hover {
    background: none;
}

/* Dard mode decorations */

body.dark .login-card {
    background: transparent;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

body.dark .login-card p {
    color: #a1a1aa;
}

body.dark .login-card input {
    background: #27272a;
    color: #f4f4f5;
    border: 1px solid #52525b;
}

body.dark .login-card button[type="submit"] {
    background: #d4d4d8;
    color: #18181b;
}

body.dark .login-card button[type="submit"]:hover {
    background: #f7f7fb;
}

body.dark .login-card .button {
    color: white;
}

body.dark .login-card .status {
    color: #f87171;
}

body.dark .login-card .reset-link {
    background: none;
    color: #667eea;
    text-decoration: underline;
    cursor: pointer;
}

body.dark .login-card .reset-link:hover {
    background: none;
}