.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    gap:15px;
}

.register-card h1 {
    margin: 0;
    /* text-align: center; */
    font-size: 2.5rem;
    line-height: 1.6;
}

.register-card p {
    /* text-align: center; */
    /* color: #666; */
    line-height: 1.4;
}

.register-card input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.register-card button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-card button:hover {
    background: #5563c1;
}

.status {
    color: red;
}