.reset-page {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-card {
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: background-color 1s ease, color 1s ease;
}

.eye {
    position: relative;
}

.eye input {
    width: 100%;
    box-sizing: border-box;
}

.reset-card h1 {
    font-size: 2.3rem;
    transition: background-color 1s ease, color 1s ease;
}

.reset-card input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: background-color 1s ease, color 1s ease;
}

.reset-card button[type="button"] {
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.reset-card button[type="button"]:hover {
    background: none;
}

.reset-card button[type="submit"] {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #667eea;
    color: white;
    font-size: 1rem;
    cursor: pointer;    
}

.reset-card button:hover {
    background: #5563c1;
}

.status {
    color: red;
    transform: translateY(10px);
}

body.dark .reset-card {
    background: transparent;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

body.dark .reset-card input {
    background: #27272a;
    color: #f4f4f5;
    border: 1px solid #52525b;
}

body.dark .reset-card button[type="button"] {
    color: white;
}

body.dark .reset-card button[type="submit"] {
    color: black;
    background: #d4d4d8;
}

body.dark .reset-card button[type="submit"]:hover {
    background: #f7f7fb;
}

body.dark .reset-card .status {
    color: #f87171;
}