
.sideRight {
  display: flex;
  flex:1;
  flex-direction: column;

  position:fixed;
  /* height:100vh; */
  top:20px;
  bottom:20px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  right:0;

  top:20px;
  right:20px;
  /* gap:12px; */

  justify-content: space-between;
}

.top-page {
  display: flex;
  flex-direction: column;
  gap:12px;
}

.button-holder {
  display: flex; 
  /* position: fixed; */
  flex-direction: row; /* stack below; use "row" for side-by-side */
  gap: 10px;

}

.login-button,
.signin-button,
.share-button,
.theme-button {
  padding: 8px 16px;
  border-radius: 999px;
  border: none;

  font-size: 14px;
  cursor: pointer;
}

.login-button {
  background: black;
  color: white;
}
.signin-button {
  background: lightgray;
  color: black;
}

.share-button {
  align-self: flex-end;
  background: lightskyblue;
  color: #1e3a5f;
  padding: 8px 22px;
}

.theme-light {
  align-self: flex-end;
  /* background: lightgray;
  color: black; */
  background: gray;
  color: white;

}

.theme-dark {
  align-self: flex-end;
  background: lightgray;
  color: black;

}

.login-button:hover {
  opacity: 0.7;
}
.signin-button:hover {
  background: gray;
  color: white;
}

.share-button:hover {
  opacity: 0.8;
}

.theme-light:hover {
  color: yellow;
}

.theme-dark:hover {
  color: yellow;
}